*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-img{
    background-image: url("/bg3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 530px;
    position: relative;
}

/* NAVBAR */

.navbar .navbar-brand{
    font-weight: 400;
    color: white;
}
.navbar-nav .nav-item .nav-link{
    color: rgb(162 155 155);
}

.navbar-nav .nav-item .nav-link:hover{
    color:white;
}

.dropdown-menu{
    background: transparent;
}

.dropdown-item{
    color: rgb(216 208 208);
}

/* MAIN  */

.welcome{
    margin-top: 85px;
    color: white;
    padding-right: 172px;
}

.welcome h6{
    font-size: 13px;
    padding: 5px;
}
.welcome p{
    font-size: 13px;
    padding: 5px;
}
iframe{
    height: 130%;
    width: 94%;
}
.video{
    margin-top: -15px;
    padding-top: 84px;
    padding-left: 80px;
    padding-right: 0px;
}

/* ALL BUTTON */

.btn{
    border-radius: 25px;
    background-color: #f1a721;
    color: white;
    font-weight: 500;
    font-size: 13px;
    padding: 9px 11px
}

/* ABOUT SECTION  */


.secondSection{
    margin-top: -48px;
    background-color: rgb(229, 226, 231);
    padding-top: 22px;
}
.aboutImg img{
    height: 344px;
    margin: 50px;
    border-radius: 6px;

}

.card-deck .card-body{
    background-color:rgb(229, 226, 231); 
    border: rgb(229, 226, 231);
}

/* MEDIA QUERY */


@media only screen and (max-width: 780px){

    .bg-img{
        height: 600px;
    }
    .customWelcome{
        text-align: center;
        padding-right: 6px;
        margin-top: 73px;
        color: black;
    }

    .customWelcome h1{
    font-size: 15px;
    
    }

    .customWelcome p{
        font-size: 11px;
        color:black;
    padding: 9px 30px;
    }

    .btn{
        padding: 3px 11px;
    }

    .video{
        padding-top: 61px;
        padding-left: 22px;
    }

    .aboutRow{
        text-align: center;
    }
    .aboutImg img{
        height: 147px;
        margin: 45px 0px;
    }
}